[2019-07-23 10:27] virgile-dev opened #1 "Voting rules on budget module"
## Context :
We added a voting method where user have to select a total of N (configurable in admin) projects to be able to cast their vote ([code is here](https://github.com/OpenSourcePolitics/decidim/tree/master/decidim-budgets)). The default voting method "Vote Threshold" (where the selected projects must amount a min percentage of the total budget) and the voting method cannot be activated at

[2019-07-25 12:36] virgile-dev opened #2 "Create "matrix" question type for the survey module"
## Context
There is a need for more complex question type like "question matrix" feature by [Kobotools](https://kobo.humanitarianresponse.info).

![Capture d’écran 2019-08-05 à 16 51 28](https://user-images.githubusercontent.com/11473995/62473604-5e3a2f80-b7a1-11e9-9cea-e244206fb452.png)

## Feature outline
- [ ] As an admin I want to enable grid like questions where I can create rows and column

[2019-07-25 12:37] virgile-dev opened #3 "Survey logic feature for Decidim Survey"
## Context
Need for more complex questionnaire structure where subsets of question display based on user's answer.

The design of this feature has been inspired by [Kobotools.](kobo.humanitarianresponse.info)

## Simple description feature
As an admin I need to be able to create a set of conditions that triggers a question to display.

## Mockups
- [ ] create section "display conditions"
- [ ] but

[2019-07-31 10:23] paarals commented on #1
Hi @virgile-dev, You don't have a mockup about the user experience selecting projects. We made this proposal:

![imatge](https://user-images.githubusercontent.com/40388743/62204649-f42f1e00-b38d-11e9-8d78-b7cebd65714f.png)

Do you want to include it or leave it as it is now?

[2019-07-31 12:18] virgile-dev commented on #1
@paarals I was thinking we should leave it out for now so we don't introduce unknown complexity with a UI that I'm not sure will work in the long term.

In my mockups the idea is to set out the voting rules, and to show in the user's selection how many projects are left in total and are required for each category.

Is the rest clear enough for you guys ?

[2019-07-31 12:44] paarals commented on #1
Ok @virgile-dev, perfect! Just one more question:
In the case of the selection rules. We understand that we select the percentage option or the minimum project option. That is, if you select "Number of projectes selected", "minimum projects to select per category" is also displayed as an optional field. Right?

[2019-07-31 17:03] virgile-dev commented on #1
@paarals you cannot select at the same time :
- minimum budget percentage rule
- number of project selected

**You do have to choose one of the rules above**.

Additionnaly you can add the "minimum projects to select per category" rule but it's not obligatory. I hope this makes things clearer.

[2019-08-01 06:27] paarals commented on #1
thanks @virgile-dev. And minimum projects to select x category rule works with the two options or just with number or project selected?

[2019-08-01 09:11] virgile-dev opened #4 "Alias url for participatory spaces"
Approach so far
+ Creation of external Module
+ Install Redirector Gem and modifiy to accept domain
+ Create a CRUD interface for admins to manage the
redirect rules.

Related meta decidim :
https://meta.decidim.org/processes/roadmap/f/122/proposals/14586

[2019-08-02 17:05] virgile-dev opened #5 "[EPIC] UX improvements on initiatives"
# This is an EPIC
**Epic description**
We've been studying the initiatives module of Decidim here are a couple of enhancements that would make more generic and easy to use by a broader set of institutions.

Version of decidim --> Master [Decidim/Decidim](https://github.com/decidim/decidim/), objective is to ship it for 0.19 stable

**Related documentation**
- A couple improvements were made to ini

[2019-08-19 15:32] oriolgual commented on #5
@virgile-dev are these changes to be made at your fork or directly at decidim? If the latter, are they approved by the product team?

[2019-08-19 16:45] virgile-dev commented on #5
@oriolgual We'll be using Decidim's master for this project. We'd like it to go directly on Decidim's master. I had a call with Arnau, most changes should be ok.

Meta Decidim proposal --> https://meta.decidim.org/processes/roadmap/f/122/proposals/14722

[2019-09-09 07:27] virgile-dev opened #6 "[Initiatives] Allow "anonymous" (no Decidim account) Signatures / Votes with Omniauth fingerprint"
**Feature description**
As a user I want to be able to sign (vote) an initiative :
- without being logged in with a Decidim account
- with an identity validation from an external service (Omniauth)

The validation should be done with the existing Omniauth login callback, without the creation of a Decidim user account and using the UID defined by the Omniauth strategies.

Even if we say "Anonymous"

[2019-09-09 09:25] #1 closed, assigned to nobody

[2019-09-09 13:54] oriolgual commented on #6
This has been a popular request in the past, and it has some technical implications. From the user point of view, I guess we can make it work as if they don't have a user account, although they'd have it. Not using a user account for this would involve a really big rewrite and I highly encourage not doing it.

What I'd do is extend the current managed users feature, so not only admins can use it,

[2019-09-10 07:52] virgile-dev commented on #6
@oriolgual we are afraid it might not correspond to the expected client user flow.
I'm not discarding your solution as I trust you on the "big rewrite" thing.
Using managed users is an interesting solution, my main concerns are about anonymity so let's dig a little more.

Your idea is to fill the managed user profile with anon data like a random string ?
What would be the user flow exactly ?
- Cli

[2019-09-10 10:46] #4 closed, assigned to nobody

[2019-09-10 14:30] oriolgual commented on #6
I think we could do it with the same workflow you proposed initially, and adding the end of session after 30 minutes (although this is optional).

[2019-09-25 16:14] armandfardeau opened #7 "Import/export functionality from a participatory process to another instance"
# Simple description feature
Import/export functionality from a participatory process and its associated data to another instance.

# Context
## User context

- As an admin, it is quite tedious to fill in the forms to create a participatory process especially when I'm working on a blank instance.

## Feature proposal

- As an admin, I want to be able to export a participatory process and its assoc

[2019-09-26 14:49] virgile-dev commented on #7
## Questions by Oliver
_How do we manage images? can we simply copy their url?_
**Reply OSP :** use urls
_What happens if the exported file has 2 locales and the import is done in an organization with 5 locales? We leave locales in blank?_
**Reply OSP :** leave them blank
_What happens if the exported file has 5 locales and the import is done in an organization with 2 locales? Do we ignore not mat

[2019-09-30 15:03] isaacmg410 commented on #7
@virgile-dev @armandfardeau
More doubts that we have.

If the exported file contains the information of a Scope, Area or ProcessGroup, and when user import this file to another platform that does not exist these information, what do we have to do?

- Ignore it?
- Create the related information? If this is the case, the exported file, must have all the information no? Parents, Children, type...?

[2019-10-01 07:16] virgile-dev commented on #7
@isaacmg410
- Scope and areas are organization related. I'd ignore them for import.
- Categories and subcategories are process and assembly related so I'd import them and should contain all the info to create them in the new participatory space

[2019-10-02 16:43] virgile-dev opened #8 "Add a CSV export of signatures for initiatives"
## Feature proposal
As an admin I would like to be able to export signatures in a csv format in addition to the already existing PDF one.

This will enable to work the data like using postal codes and show them on a map for instance.

## Mockups
### Back
Simply add a button for the CSV format
<img width="702" alt="Capture d’écran 2019-10-02 à 18 38 15" src="https://user-images.githubusercontent.

[2019-10-02 18:52] virgile-dev opened #9 "Signature gauge for child scopes"
## Feature proposal
Currently the number of signature required for an initiative is defined by the scope that it's attached to. The relation is one to one, an initiative has only one scope.

We have a use case where we'd like to specify a number of signatures at different levels of scopes :
- Parent
- Child

Note that child and parent signature levels are independant, every criteria must be met fo

[2019-10-10 09:40] #6 closed, assigned to nobody

[2019-11-07 12:18] virgile-dev opened #10 "Enable configs for omniauth providers at the org level"
## Info
- **where to code?** [meta decidim proposal](https://meta.decidim.org/processes/roadmap/f/122/proposals/14875) is in status evaluating, meaning this can be coded directly on decidim/decidim master branch and a PR can be made
- **deadline** : ideally end of november or first week of December

## Specs
This feature aims to enhance the capabilities of the multi-tenant mode of Decidim.

Curren

[2019-11-07 12:24] virgile-dev commented on #10
## Mockups
Here is what the dynamic form would look like (don't mind the /admin styling this would go into /system) :
- [ ] providers are detected automatically
- [ ] a checkbox allow to activate / desactivate the omnitauth provider
![decidim local osp cat_3000_admin_omniauth_settings_edit_locale=fr](https://user-images.githubusercontent.com/11473995/68388806-c06c4d00-0161-11ea-96db-d7c14266e994.p

[2019-11-07 12:28] virgile-dev commented on #10
## Context
We need this mainly to allow the Belgium Federal State to apply different configs of their e-ID solution to organizations form the same installations.

[2019-11-07 13:49] virgile-dev commented on #10
## Code snippets that we have to handle the omniauth integratin without having the parameters in advance

[code]

[code]

[2019-11-13 11:47] amiedes commented on #10
@virgile-dev I'm gonna take care of this 😄

[2019-11-13 15:27] virgile-dev commented on #10
Nice @amiedes if you have any doubt let me know in the comments.

[2019-11-13 16:59] amiedes commented on #10
For custom auth providers we need a way to communicate the form which fields are available. I suggest using the same format as now:

[code]

So for that configuration the form will show something like this:

![Captura de pantalla 2019-11-13 a las 17 46 11](https://user-images.githubusercontent.com/9287468/68784849-87d6e280-063d-11ea-873e-17bfbdb4a02b.png)

And the following behavior will be applie

[2019-11-14 10:01] moustachu commented on #10
Hello guys. (I'm the Lead Dev @ OpenSourcePolitics)

This behavior seems OK for us. Just one question :
Does any new field defined in the `secrets.yml` will be taken into account (using something like the sample `OmniauthSettingsJsonbAttributes` class we put in example) or did you plan to have a fixed schema for the custom providers ?

[2019-11-14 12:06] amiedes commented on #10
Hi @moustachu!

Yes, the form fields are generated according to what is the the config file, so anything new will appear.

[2019-11-19 16:09] virgile-dev commented on #10
@amiedes is this going ok ?

[2019-11-19 17:24] amiedes commented on #10
@virgile-dev yes, I've already updated the code in local with tests passing and I'm working on deploying this to one of our staging servers so I can test it configuring real omniauth providers.

If everything goes OK I can give you access to it tomorrow or past-tomorrow so you can check it.

[2019-11-20 13:26] virgile-dev commented on #10
Great @amiedes ! Let me know :)

[2019-11-21 17:46] amiedes commented on #10
Hi @virgile-dev,

I've had a bit of trouble configuring the virtualhosts and SSL certificates for our test server with several tenants.

This is already working https://decidim-test-a.populate.tools/ https://decidim-test-a.populate.tools/ and I've done tests with real Facebook and Google Oauth and it worked fine.

Nevertheless I still have a few things to check so I'll let you know as soon as I've

[2019-11-22 10:54] virgile-dev commented on #10
Hola @amiedes !
Thanks a lot. Can you point me to the branch / pull request you are working on ?

[2019-11-22 18:00] virgile-dev commented on #10
@amiedes I'd like to have access to /system and /admin can you seed the instance so I can log with admin@example.org and system@example.org

[2019-11-25 15:41] amiedes commented on #10
@virgile-dev we've finished testing this. As I said, I've configured the following sites:

**https://decidim-test-a.populate.tools**

With two oauth providers:

- Google
- Facebook (Test App A)

**https://decidim-test-b.populate.tools**

With one oauth provider:

- Facebook (Test App B)

You can login as system in both sites with system@decidim.dev or as admin with admin@decidim.dev. I'm sending y

[2019-11-27 13:18] virgile-dev commented on #10
Nice will be testing on our side this week with @moustachu

[2019-11-27 16:41] virgile-dev opened #11 "Registration form improvement with 2 steps + 1 onboarding screen"
## Tech related
- Approved proposal in Meta Decidim : https://meta.decidim.org/processes/roadmap/f/122/proposals/14855
- Hence this can be coded directly on a PR to master
- Deadline 10/12/2019

## Context
We’d like to improve the registration process for new users. The actual process is quite long and difficult, and we think Decidim should be more accessible and appealing.

## Proposed solution

[2019-11-29 09:53] amiedes commented on #10
@virgile-dev @moustachu how is the review going?

[2019-11-29 09:54] amiedes commented on #11
I'm gonna take care of this also 😄

[2019-12-03 14:06] virgile-dev commented on #10
hey @amiedes I've been swamped with work. I'm hoping I can give you feedback tonight. From what I've seen so far it seems great !

[2019-12-12 09:44] andreslucena commented on #10
@virgile-dev just a friendly reminder to review this when you can... Personally I think it's a really good feature for evolving the multitenant system :D

[2019-12-12 16:57] paulinebessoles commented on #10
Hi everyone! I have been testing this (cool) feature and I have a few feedbacks and questions :
- Facebook login works perfectly!
- I wasn't able to create a working Twitter login, I don't understand the error (Error 500)
- I tried to create a Google login, and
     - it worked once (I chose the google account I want to be logged with) until being redirected to the platform and then get an "Invali

[2019-12-13 09:13] amiedes commented on #10
Hi @paulinebessoles, thanks for the feedback!

I've been taking a look and I've spotted a few things:

- [This error](https://github.com/zquestz/omniauth-google-oauth2/issues/197) was preventing the Google login from working, I've fixed it doing [this](https://github.com/zquestz/omniauth-google-oauth2/issues/197#issuecomment-256041753). After solving this I'm being able to login with Google in [ht

[2019-12-13 10:47] paulinebessoles commented on #10
Thanks a lot for the answers and advices!
I succeeded to create a working Google login for site B :)

My Twitter account is also waiting for approval, so I can't test either.

But in general, everything seems really good, congrats!

[2020-01-13 15:46] microstudi commented on #2
First approach analysed:

1. A new type of question is created: "matrix question". When selected, appears to the admin a similar behavior as the "simple question" or "multiple question" with 2 types of subgroups: rows (question) and columns (answers) with a free multilanguage text to configure.
2. A new select would configure the type of matrix: single (select one option per row), multiple (select

[2020-01-17 10:37] virgile-dev opened #12 "Initiatives attribute "Block signature""
This feature was not approved by meta decidim : https://meta.decidim.org/processes/roadmap/f/122/proposals/14859

So a module approach should be considered.
The approach here is to add :
- [ ] BO an admin attribute to allow user to block signature
- [ ] FO add a checkbox allowing users to block signature when creating the signature
- [ ]  When initiative has "block signature" activated --> hide el

[2020-01-22 16:59] virgile-dev commented on #12
To give more info on how the client will configure its initiative types.
There will be two initiative types :
- One for initiatives that do not collect initiatives
- One for iniatiaves that will

This configuration option can be found in the parameters section of the initiative   type configuration form.
<img width="852" alt="Capture d’écran 2020-01-22 à 17 57 25" src="https://user-images.github

[2020-01-22 17:29] virgile-dev commented on #12
As a user, when creating an initative I will be able to select between to types :
<img width="1000" alt="Capture d’écran 2020-01-22 à 18 10 21" src="https://user-images.githubusercontent.com/11473995/72916528-7b0ff280-3d42-11ea-8182-35878c3fdd8a.png">

When selecting the initiative type that collect signatures and the initiative type configuration is set to mix signature collection. Then in the

[2020-01-24 16:02] microstudi commented on #3
I suggest these changes:

1. **Operators list**: `answered`,  `not answered`, `equal`, `not equal`, `includes the text:`
2. **Value**: instead of a select, just let a input text field and let the admin write the desired value.
3. **New field**: a select or checkbox with a label like `To display this question:` and 2 options: `This condition needs to be satisfied always regardless the status of oth

[2020-01-24 16:22] microstudi commented on #2
In a second analysis, I think the type of matrix should be single or multiple only. And then add the free-text option when defining a column with a checkbox "allow free text in this column". This would help to define a column with the case "another..."

[2020-01-28 10:03] paulinebessoles commented on #2
![Matrix question(1)](https://user-images.githubusercontent.com/52420208/73253830-8a1cf780-41bd-11ea-955d-4f76fb541d9c.png)

@microstudi were you thinking about this ?

[2020-01-30 10:21] virgile-dev commented on #3
@microstudi about the **2.** I'm not sure. I'm affraid that if it's just a text field the admin might be confused. Are you thinking about some auto complete feature that would make it easier ?

From what I'm understanding the "value field" would only appear for these operators :
- `equal` (admin has to type in the option ?) --> some kind of validator needed to check if option exist ?
- `not equal`

[2020-01-30 10:35] virgile-dev commented on #2
@paulinebessoles (dope mockup) @microstudi This looks perfect to me.

[2020-01-30 11:18] microstudi commented on #2
Great!, but I am not sure about the drag&drop feature. Maybe there are to many lines/boxes, maybe the title "COLUMNS" and "ROWS" can be headers without padding. And, instead the word "Question" in columns maybe "answer" or just "text"

[2020-01-30 11:39] paulinebessoles commented on #2
Hi Ivan, thanks for the feedback !

Indeed, the drag&drop feature is not essential for rows and columns.
For the ROWS & COLUMNS Title, if you find it easier it's all good.
Finally, your right about the Question word, my mistake 😁

It's all good for @virgile-dev and I !

[2020-01-30 12:14] microstudi commented on #3
Sorry your're right, it's not possible to do what I've proposed because it is not possible to define de raw value for a question. So it is mandatory to use some automated select. Sorry about that, i wanted to simplify the management.

[2020-02-13 09:12] #10 closed, assigned to nobody

[2020-02-13 09:12] #11 closed, assigned to nobody

[2020-02-13 09:13] #5 closed, assigned to nobody

[2020-02-13 09:14] virgile-dev commented on #3
@microstudi can you tell you or the developper who is working on this to reference this issue on its PR ? thanks !

[2020-02-13 09:15] #7 closed, assigned to nobody

[2020-02-18 10:18] virgile-dev opened #13 "Initiatives UX personnalization for "Block signature""
Related to #12

# UX personnalisation
The client has a couple personnalisation that he would like to add to the module.
Couple info on the client configuration of initiative :
- There will be only one initiative type
	- 2 signature collection will be activated :
		- Allow no signature
		- Mix (online + physical)

Having that in mind here are the UX personnalisation requested :
- [ ] **hide initiat

[2020-02-18 11:33] virgile-dev opened #14 "Add joint file in step 4 of initiative wizard"
- [ ] add the possibility to submit a joint file on this step
Quel type d'extension on accepte ?
![Etape 4 upload fichier](https://user-images.githubusercontent.com/11473995/74421906-13832980-4e4e-11ea-88bf-df7942117535.png)

[2020-02-18 11:55] virgile-dev opened #15 "Add CTA to send technical validation directly from step 5 of initiative creation wizard"
The idea is to make it optional for the user to have to go in the back office of Decidim to send his initiative to technical validation.

This is why we propose to use the last step of the initiative creation wizard to do so :

- [ ] Add 2 buttons to the 5th step of the initiative creation wizard
	- [ ] One to send to technical validation to send directly from this screen. Once clicked an alert me

[2020-03-27 16:35] #13 closed, assigned to nobody

[2020-03-27 16:35] #14 closed, assigned to nobody

[2020-03-27 16:40] #15 closed, assigned to nobody

[2020-03-27 16:41] #12 closed, assigned to nobody

[2020-03-27 17:07] virgile-dev opened #16 "Budget enhancements"
## PX enhancements

- [ ]  Always display project selection (as opposed to hide it inside a toggle)
- [ ]  Show progress bar and project selection while selection of project
- [ ]  Green layer and updated wording after voting
- [ ]  Assign a color to categories to make better distinctions (goes with voting rule "Minimum number of project user has to select per category")
- [ ]  Projects geocoding

[2020-03-27 17:47] virgile-dev opened #17 "Display the publication of initiatives in the activity blocks"
## User story
**Is your feature related to a problem?**
Initiatives created by users are not represented in the activity blocs :
- home page activity bloc
- user profile activity tab
- last activity page (when we have time)

**Describe the solution you'd like**
We should display these content in theses blocks.
Initiative that are not yet published can not be displayed to everyone so as a visitor I

[2020-03-27 17:56] virgile-dev opened #18 "Add versioning capabilities to initiatives"
## User story
**Is your feature request related to a problem? Please describe.**
Currently an admin can apply all the changes it wants to an initiative. There is no way to track these changes. It's not transparent.

**Describe the solution you'd like**
We should have a versioning system for petitions like we have for proposals and results. The Decidim versioning system on proposals and results off

[2020-04-01 08:00] virgile-dev opened #19 "Make the number of characters allowed for the initiatives description field configurable"
## Is your feature request related to a problem? Please describe.
Currently initiatives can be of unlimited length. It's becoming a problem as initiatives can be sometime as long as a novel and take a very long time to review for admins.

## Describe the solution you'd like
Being able to configure on the initiative type a character limit for the description field.
We'll need to take into account s

[2020-04-01 09:10] virgile-dev commented on #19
Embedded videos :
- Not take them into account in the character count (to be validated
Front end :
- enforce that desc field is no longer than the limit
- error message if limit not respected (while editing (in the wizard (FO)) but also when editing on the admin side )
- number of characters left while editing (in the wizard (FO)) but also when editing on the admin side

[2020-04-01 09:11] paulinebessoles commented on #17
**-> [Metadecidim Proposal](https://meta.decidim.org/processes/roadmap/f/122/proposals/15115)**

[2020-04-01 09:13] paulinebessoles commented on #18
**-> [Metadecidim proposal](https://meta.decidim.org/processes/roadmap/f/122/proposals/15130)**

[2020-04-02 11:03] ace commented on #18
Decidim uses a gem (paper_trail) and common concerns/code for versioning different models. Adding that funcionality to initiatives shouldn't be a big amount of work.
Only exception is tracking commitee members. That would probably involve a more complex development since it's not part of the initiative model but an association.

[2020-04-02 11:43] ace commented on #19
Some questions about this topic:

- Do we want a default max length value to be applied to all initiative types unless changed?
- How will this limit affect existing initiatives when a new (or shorter) limit is established?
  - Case 1. Published initiative with larger description that is no longer edited/changed in any way, besides getting signatures (I guess probably unaffected)
  - Case 2. Initi

[2020-04-02 12:15] virgile-dev commented on #18
Hey @ace great news !
Let's leave out of the scope the tracking of co-authors for now.

[2020-04-02 16:14] virgile-dev commented on #19
Hello @ace

Yes : you can put 5000 characters as a default.

It shouldn't affect initiative that where already sent to technical validation or have been published

[2020-04-02 16:40] ace commented on #17
Not really sure about the issue here. Initiatives are already included as activities (ActionLogs) and should appear when published.

What I've seen in the development app is that they are saved without a ParticipatorySpace and that makes them be ignored when showing activities. Not sure if that's something specific of the development app or it's like that. In that case, I'd need some context about

[2020-04-02 17:11] virgile-dev commented on #17
Hey @ace
It might be because an initiative is a participatory space.

Participatory space = processes, assemblies, conferences, consultations and initiatives

We might want to create an exception for initiatives as they are created by the users and not by the admin which is not the case for the rest of participatory spaces.

This is not specific to the development app.

[2020-04-03 11:45] ace commented on #17
Created issue in decidim repo with my findings about a potential bug causing Initiatives to not be shown https://github.com/decidim/decidim/issues/5926
I will follow up with a PR if there are no comments against my proposed fix.

[2020-04-08 16:27] ace commented on #18
https://github.com/decidim/decidim/pull/5935

[2020-04-09 14:49] paulinebessoles opened #20 "Integrate Initiatives KPIs to the homepage statistics block"
## Is your feature related to a problem?
Initiatives are not represented in the statistics block shown in the homepage.
Furthermore, adding those fields is confusing for user because too much numbers are displayed.

## Describe the solution you'd like

In the following blocks should be shown the following metrics :
**1. Current state of {organization} section**
Add metrics
- [ ] Number of petition

[2020-04-10 07:28] paulinebessoles opened #21 "Allow user and admin to sort initiatives by publication date"
## Is your feature request related to a problem?
Currently the user has 3 sorting options : _Random_, _Most recent_, _Most signed_.
The sortition option _Most recent_ = "created most recently". It is not very relevant as some time elaps between the moment of creation and publication (meaning anyone can see it).

In the BO, the admin can only sort by creation date. It might be difficult to process

[2020-04-15 07:08] virgile-dev opened #22 "Allow the author of an initiative to choose the end of signature collection period"
**Is your feature related to a problem?**
The law doesn't always describe a fixed period for signature collection. It is problematic for the institution to decide for the citizen when they could actually choose it freely.

**Describe the solution you'd like**
As an admin, I want to be able to enable/disable the possibility for users to choose their own end of signature collection period when creat

[2020-04-20 16:05] ace commented on #22
https://github.com/decidim/decidim/pull/5998

[2020-04-21 10:37] ace commented on #22
Just to be sure, when is the author unable to change the date anymore? Solution text above says after published, but acceptance criteria says when sent to technical validation.

[2020-04-23 10:13] paulinebessoles opened #23 "Export all initiatives as and admin (part I)"
**User story**
As an admin, I want tobe able to export all initiatives in a structured format (json and csv)

**Is your feature related to a problem?**
Initiatives cannot be exported right now, it's a problem for collaboration and follow through with non admins of the platform. Often admins keep an external csv file where they keep track of initiatives adding extra information.

**Describe the sol

[2020-04-23 10:26] virgile-dev opened #24 "Allow the administrator to disable the addition of attachments on an initiative type"
**User story**
As administrator, I want to be able to disable attachments on an initiative type, so that authors and co-authors of a petition cannot add attachments to their petition (in the creation wizard and in the admin).

**Is your feature related to a problem?**
Attachements are cumbersome to moderate and can be infected with viruses.

**Describe the solution you'd like**
It should be an adm

[2020-04-23 10:59] virgile-dev opened #25 "Export all initiatives as and admin (part II)"
See [part I](https://github.com/OpenSourcePolitics/dev/issues/23) for more details.

**Add a comments export**
- [ ] In the dropdown shown upon clicking the button add the possibility to export comments made to initiatives in a structure format (csv and json)
- [ ] Data included for the export of comment should be similar to other comment export in Decidim (check the ones for the debates or propos

[2020-04-23 11:48] virgile-dev opened #26 "Adapt module "No signature allowed module" to decidim/decidim#5998"
**Context**
In https://github.com/OpenSourcePolitics/dev/issues/22 we allowed the user to choose the end date for the signature collection period. ([link to PR not merged yet](https://github.com/decidim/decidim/pull/5998)

We need to make this feature compatible to this external module that we built for a specific need of our client : https://github.com/OpenSourcePolitics/decidim-module-initiative

[2020-04-24 07:11] virgile-dev commented on #21
@ace can you link the PR please ?

[2020-04-24 07:13] ace commented on #21
Ups, sorry, here it is. https://github.com/decidim/decidim/pull/6016

[2020-04-27 10:30] virgile-dev commented on #21
Just reviewed and it's all good thanks @ace

[2020-04-27 11:06] ace commented on #24
Should admins be allowed to add attachments even if it is configured to not allow them?

[2020-04-27 11:45] virgile-dev commented on #24
@ace what is the default behaviour that you have right now ?
I'd personnal go with none are allowed to add attachement but would like the opinion of @valentinchaput and @paulinebessoles

[2020-04-27 11:53] ace commented on #24
I had no default for admins.
I was restricting attachments through permissions. If flag is not set, user has no permissions on attachments, that's the simplest way to filter everything out.
But, admins can not be restricted that way, they have default permissions on the admin module that can't be changed (without changing the admin module).
So, depending on the decision, I'll have to change that a

[2020-04-27 12:00] virgile-dev commented on #24
ok thanks for the feedback @ace
I discussed it with @paulinebessoles  let's go with the simpler approach then. Admin can add joint files even if it is configured to not allow them.

[2020-04-30 07:58] virgile-dev opened #27 "Update cursor on map after geocoding when proposal has address"
**Is your feature request related to a problem? Please describe.**
Geocoding works well with adresses with numbers, what if I want to pin a point in a park or a forest, well it just doesn't work.

**Describe the solution you'd like**
You can get close enough to what you want pin by putting the forest name instead of the address but if I want to pin to the exact place I want to then I need to be ab

[2020-04-30 08:00] virgile-dev opened #28 "Custom CTA on process cards"
**Is your feature request related to a problem? Please describe.**
The CTA button text on process cards is always "**Take part**" even if the process is no longer in an active phase which is misleading for the users because they click on a button and do not know what to do.

**Describe the solution you'd like**
Allow admins to add a custom text and link for CTA button for each steps. It can actual

[2020-04-30 08:05] virgile-dev opened #29 "Harmonize initiative filters FO"
**Is your feature request related to a problem?**
Recently front-office filters for proposals where revamped. It now allows mutlti-select thanks to checkboxes. It allows for more discoverability as you can make more precise selections that the radio button offers.

Checkout proposal filters
<img width="971" alt="Capture d’écran 2020-05-06 à 12 42 43" src="https://user-images.githubusercontent.co

[2020-04-30 15:22] ace commented on #26
https://github.com/OpenSourcePolitics/decidim-module-initiatives_nosignature_allowed/pull/5

[2020-05-04 08:20] virgile-dev commented on #24
Hey @ace
Can you link the PR please ?

[2020-05-04 08:23] ace commented on #24
Sure!
https://github.com/decidim/decidim/pull/6036

[2020-05-04 14:53] paulinebessoles opened #30 "Initiative searchbar enhancement (FO & BO)"
### User story
As a user, I want to be able to search initiatives by initiative ID number and user name, nickname in the initiatives FO index searchbar.
As an admin, I want to be able to search initiatives by initiative ID number, user name and nickname in the initiatives BO & FO index searchbar.

### Is your feature related to a problem?
Right now, users and admins can only search initiatives by

[2020-05-05 10:24] ace commented on #23
https://github.com/decidim/decidim/pull/6070

[2020-05-06 10:55] virgile-dev opened #31 "Enhance initiative filter in the admin"
**Is your feature request related to a problem?**

Searching capabilities for admins are somewhat limited for initiatives. There are no filters for initiative types, few columns are sortable.

**Describe the solution you'd like**

- [ ] I'd like to add a filter for initiative types.

**Does this issue could impact on users private data?**

No

**Additionnal context**
Mockup
![](https://meta-decidi

[2020-05-06 11:06] #18 closed, assigned to ace

[2020-05-08 10:49] virgile-dev opened #32 "Add areas to initiatives"
## **Is your feature request related to a problem? Please describe.**

Initiatives cannot be associated to an area like other participatory spaces.
You can check where areas are configurable : https://osp-decidim.dev.aspgems.com/admin/areas

## **Describe the solution you'd like**
As a user I want to be able to associate an area to initiatives during my initiative creation and when editing my init

[2020-05-11 08:52] ace commented on #30
https://github.com/decidim/decidim/pull/6086

[2020-05-11 09:10] ace commented on #29
Shouldn't we change the scopes selector, so it integrates in the new design as in proposals? It feels strange to keep it on its own.

[2020-05-11 09:26] paulinebessoles commented on #29
You're completely right! Thank you for the question.
It's better if the scope selector integrates the new design.

[2020-05-12 16:39] ace commented on #29
https://github.com/decidim/decidim/pull/6090

[2020-05-14 09:36] ace commented on #32
I'm not sure I fully understand this requirement
_The area can be changed by the admin at any moment from the moment the initiative have been sent to technical validation, but can never be set to empty._

Does that mean that the area will be required for all initiatives and can't be empty at all or that once an initiative is assigned an area it can't be emptied, but initiatives without area can re

[2020-05-14 09:41] ace commented on #32
And a doubt. Will it be possible to add the area on initiative creation? The issue seems to talk just about the edit action. If so, in the fill_data step of the creation?

[2020-05-14 10:08] paulinebessoles commented on #32
Thanks for the questions @ace, the second one is the good one : once an initiative is assigned an area it can't be emptied, but initiatives without area can remain like that. The area can still be changed but not emptied.

[2020-05-14 10:18] ace commented on #32
Thanks for the answers @paulinebessoles.

I had removed my second question upon re-reading the description of the issue and finding the proposed solution is referencing initiatives creation (I was looking for a check item about that).

Now, your answer makes that paragraph wrong (it states a user can add an area on both creation and edition), should we remove that text from the description to avoi

[2020-05-14 10:22] paulinebessoles commented on #32
I'm sorry for the confusion, I didn't knew about the updates of the spec. Forget about what I said, the description is the good one. I'll modify my comment :)

[2020-05-14 10:23] ace commented on #32
Ok, thanks!

[2020-05-15 07:55] ace commented on #32
Just to be sure, is that for everyone or just for admins, once the initiative has gone into validation? In other words, can the author clear the area while editing the initiative, before sending to technical validation?

[2020-05-15 11:50] ace commented on #32
One design detail to have some debate. Areas can be arranged in area_types. The select for area shows that using grouped values, like this

![Captura de pantalla 2020-05-15 a las 13 42 44](https://user-images.githubusercontent.com/3958/82046847-00ccfa80-96b2-11ea-8ce0-e8675c66da54.png)

For the BO filter, it's impossible to get such effect. We could try some kind of nesting approach (show a first

[2020-05-15 13:31] virgile-dev commented on #32
Hey @ace

A user / admin should always be able to empty the field by choosing the empty default value in a dropdown.

[2020-05-15 13:33] virgile-dev commented on #32
@ace

I'd go with the first and most simple option. Just display the name.

[2020-05-15 16:39] virgile-dev opened #33 "Enhance initiative search bar : extend to promoting committee member"
Related to #30
The idea here is to be able to search by promoting committee member's name and nickname.

[2020-05-19 07:34] virgile-dev commented on #32
@ace can you link your PR here please :)

[2020-05-19 08:23] ace commented on #32
Sure, as soon as I create it :) Finishing the specs now.

[2020-05-19 08:58] ace commented on #32
PR https://github.com/decidim/decidim/pull/6111

Pending the FO search/filter changes, waiting for the redesign PR review/approval/merge to add it to the new box. I'm keeping this issue on the To do column for that.

[2020-05-19 09:46] virgile-dev commented on #32
@ace Nice ! Can you add it to your deploy that would be perfect so I can test it ?

[2020-05-19 09:51] ace commented on #32
@virgile-dev I'm working on that. As I expected, a lot of conflicts when merging this branch with all the previous work. At least it will serve as training for those same conflicts in the PRs.

[2020-05-19 10:02] virgile-dev commented on #32
OK ! I'll test locally for now.

[2020-05-19 10:09] ace commented on #32
Deployed! I'm fixing some rubocop issues on the PR, but that doesn't affect the deploy, so you can test there. I've checked the area enabled flag in the 'Pariatur...' type and then set an area to two of its initiatives. The filter is a bit... unusable with all the areas in that instance :(
Have fun with the tests ;)

[2020-05-20 11:07] ace commented on #33
A couple of questions, just to be sure.
We exclude pending and rejected, only accepted members should be searched, right?
The initiative author is always a committee member, isn't it?

[2020-05-20 13:55] ace commented on #33
Forget about the second question, I see having a committee is optional depending on the initiative type flag, so I guess that's not the case, authors are not always committee members too.

[2020-05-20 13:58] virgile-dev commented on #33
Right

[2020-05-20 15:21] virgile-dev opened #34 "[Custom AN] Only admin can select an area for the initiative"
This is a custom piece of code for client **AN**.
As a base branch you are to use this one : https://github.com/aspgems/decidim/tree/feature/add_areas_to_initiatives (or the decidim develop if it's already merged)

One the new branch we are going to add the following specificity :
When areas are activated on the initiative type only the admin should be able to select them using the drop down list

[2020-05-20 16:33] virgile-dev opened #35 "[Custom AN] Add images and color to areas"
This is a custom piece of code for client AN.
As a base branch you are to use the one you'll have created for this issue https://github.com/OpenSourcePolitics/dev/issues/34

**User story**
As an admin, I want to be able to associate an area with a color and a logo, so they would be displayed on the initiative cards linked to an area.

**Specs Back-Office**
Modify the /new and /edit area form to ad

[2020-05-21 15:30] virgile-dev opened #36 "Finish PR 5500 initiative signature gauge"
We've started the PR with Codegram but didn't manage to finish it properly.
Here is a [comment on the PR](https://github.com/decidim/decidim/pull/5500#issuecomment-631332176) with the remaining tasks.

The idea is to make a PR on [this branch](https://github.com/decidim/decidim/tree/initiatives-signature-gauge) with the remaining changes.

[2020-05-22 10:48] ace commented on #36
Hi @virgile-dev. I think I need a bit more detail about the remaining tasks.

- Check that events issued from initiatives are working properly. Are there any specifics about what to check or which events may be affected?

- Check that the edge cases defined here work well. As far as I understand the linked doc, the main issue is having scopes below the level of detail in the authorization. In that

[2020-05-22 16:52] virgile-dev commented on #36
Hello @ace
Here are my answers :

* Milestone events are the one that we need to adapt (see [this PR](https://github.com/decidim/decidim/pull/6098) if you don't know what I'm talking about)
* We’d like to send notifications for child scope milestones too (same percentages : 25, 50, 75 and 100%). Notifications would go to authors, promotting committee, followers for all the milestones (25, 50, 75 a

[2020-05-25 09:55] ace commented on #34
This is done, but I'm not sure what to do with it. Pushing the branch to the repo for now.

[2020-05-25 10:19] ace commented on #36
Thanks @virgile-dev
Just one thing, do you have any example of how that warning in the admin should look like?

[2020-05-25 13:26] virgile-dev commented on #34
Can you link the code the branch or the PR @ace ?

[2020-05-25 13:33] ace commented on #34
Of course! https://github.com/aspgems/decidim/tree/custom_an/admin_only_areas
I'm prefixing this issues with `custom_an`, so they are easy to find.

[2020-05-25 13:34] virgile-dev commented on #36
@ace which warning are we talking about ?
This one ? I'm not even sure it needs a warning as it should be compatible. Don't you.

Warning display the same on the front end and in the back end.
<img width="1239" alt="Capture d’écran 2020-05-25 à 15 33 48" src="https://user-images.githubusercontent.com/11473995/82817383-31c0e280-9e9d-11ea-85d0-cce30fb3eea0.png">

[2020-05-25 13:39] ace commented on #36
Yes, that one. Not sure if it's needed, to be honest. If it is OK to be in such a state, does the warning provide any help or anything to the admin? I tend to think it does not, so maybe it is not needed at all. So, if you are OK with that, I'll leave it for now.

[2020-05-26 06:55] virgile-dev commented on #36
I'm ok with no warning at all @ace

[2020-05-26 08:31] ace commented on #36
I'll be keeping Issues I find and whether I've fixed them in this comment, so they can be checked quickly.

[x] Migrations fail (code updating the existing votes is wrong)
[x] Admin editing initiative with offline votes crashes, I18n translation issue (using scope as interpolation key)
[x] Offline votes saved from admin form as string arrays instead of integers and with no total. Example:
`online_

[2020-05-26 11:12] ace commented on #36
@virgile-dev while I write the doubts we talked about (seeing some code that clarifies some of them), one more thing I'd need to clarify.

This is the content we are sending right now for those milestones for the author and others:
[code]
How should we adapt those texts for the child scopes? Keeping them unique may lead to confusions. Same question for the admin messages for 100% in the other PR (

[2020-05-26 13:52] virgile-dev commented on #36
@ace thank you so much for your patience on this. Our back and forth are helping a lot.
I agree that the milestones notifications are going to be a source of mis-understanding.

For now, I think that we should not modify how it works to keep it simple. We will adapt the locales so that it's less confusing for the user.

Moreover we are [working on a spec](https://www.notion.so/opensourcepolitics/C

[2020-05-26 14:57] ace commented on #36
No problem. The only thing pending from the initial list is that UX issue on the admin when selecting the global scope. Then there's what you told me on our chat about the condition for the admin to be able to accept or reject an initiative depending on the votes. However, there are some things that I think are not working as expected. Let me try to comment them here.

How it is working now, given

[2020-05-26 16:03] ace commented on #36
One more thing, I just realized the changes in this PR break the sorting by signatures count we did in one of my first issues.

[2020-05-27 17:00] virgile-dev commented on #36
@ace We gave it some thought with Alain :

First of all, we need to think separately of the signatures and the totals.

Example of setting for an initiative type

- Belgium —> global scope : 9000 signatures required
    - Brusells —> Scope (child of global) : 3000 signatures required
    - Wallonia —> Scope (child of global) : 3000 signatures required
    - Flanders —> Scope (child of global) : 30

[2020-05-29 16:04] ace commented on #36
Fixed the relevant issues and the calculations. https://github.com/decidim/decidim/pull/6143

[2020-06-18 15:19] #35 closed, assigned to nobody

[2020-06-18 15:20] #34 closed, assigned to ace

[2020-06-18 15:20] #32 closed, assigned to ace

[2020-06-18 15:20] #31 closed, assigned to ace

[2020-06-18 15:20] #30 closed, assigned to nobody

[2020-06-18 15:21] #29 closed, assigned to ace

[2020-06-18 15:21] #26 closed, assigned to ace

[2020-06-18 15:21] #8 closed, assigned to nobody

[2020-06-18 15:22] #2 closed, assigned to nobody

[2020-06-18 15:22] #23 closed, assigned to ace

[2020-06-18 15:22] #22 closed, assigned to ace

[2020-06-18 15:23] #24 closed, assigned to ace

[2020-06-18 15:23] #21 closed, assigned to ace

[2020-06-25 08:35] paulinebessoles opened #37 "[EPIC] Write and read workflow optimization"
## Objectives

The workflow described bellow is slow in the read and write phase.

We have identified some tracks, but the first objective is to confirm the causes of these slowdowns. The second objective will be to resolve them.

## Context

On our platform [https://ppan-pprod.opensourcepolitics.net](https://ppan-pprod.opensourcepolitics.net/), we use France Connect as identity provider.

    Two

[2020-06-25 08:47] paulinebessoles opened #38 "Identify slow read queries"
## Objectives

- Identify slow DB queries in the scope of JMETER scenario.
- Focus on queries that allows the display of page
- (Homepage, search, index initiatives, show initiatives)

## Context

[https://github.com/OpenSourcePolitics/dev/issues/37](https://github.com/OpenSourcePolitics/dev/issues/37)

## Todo

Create a sheet with :
Query name | Average response time | Problem | Solution
--------

[2020-06-25 08:57] paulinebessoles opened #39 "Identify un-memoized queries"
## Objectives

- Identify un-memoized queries in the scope of JMETER scenario.
- Focus on queries that allows the display of page
- (Homepage, search, index initiatives, show initiatives)

## Context

[https://github.com/OpenSourcePolitics/dev/issues/37](https://github.com/OpenSourcePolitics/dev/issues/37)

## Todo

Create a sheet with :
Query name | Average response time | Problem | Solution
----

[2020-06-25 09:01] paulinebessoles opened #40 "Identify slow-rendering partials"
## Objectives

- Identify slow-rendering partials in the scope of JMETER scenario.
- Focus on partials that allows the display of page
- (Homepage, search, index initiatives, show initiatives)

## Context

[https://github.com/OpenSourcePolitics/dev/issues/37](https://github.com/OpenSourcePolitics/dev/issues/37)

## Todo

Create a sheet with :
Query name | Average response time | Problem | Solution

[2020-06-25 09:02] paulinebessoles opened #41 "Identify n+1 queries"
## Objectives

- Identify n+1 queries in the scope of JMETER scenario.
- Focus on n+1 queries that allows the display of page
- (Homepage, search, index initiatives, show initiatives)

## Context

[https://github.com/OpenSourcePolitics/dev/issues/37](https://github.com/OpenSourcePolitics/dev/issues/37)

## Todo

Create a sheet with :
Query name | Average response time | Problem | Solution
--------

[2020-06-25 09:07] paulinebessoles opened #42 "Refactor session store initiatives draft creation"
## Objectives

An initiative when created is stored in the session store and then saved to the DB at the end of the process.

The problem is that the session store is limited and we had to save the session to DB, so every user action requires a DB write.

Maybe using local storage or creating a draft that is published in find process is a solution.

## Context

The problem is that it uses DB space

[2020-06-26 07:36] paulinebessoles opened #43 "Identify superfluous entries in the DB during the signature phase and delegate as much as possible to Sidekiq"
## Objectives

Identify during signature phase elements that require computing and writing to the database.

Delegate those elements to Sidekiq.

It is possible that the signature commands are already as optimized as possible.

## Context

[https://github.com/OpenSourcePolitics/dev/issues/37](https://github.com/OpenSourcePolitics/dev/issues/37)

## Todo

- [x]  Propose an implementation which is l

[2020-06-26 07:36] paulinebessoles opened #44 "Improve the performance of the signature counter"
## Objectives

Speed up the voting process on petitions. In this process, we found out that there was an after commit (callback active record) that compute at each vote all the previous votes.

We want to desynchronize the voting action from the calculation of the total number of votes.

## Context

[https://github.com/OpenSourcePolitics/dev/issues/37](https://github.com/OpenSourcePolitics/dev/iss

[2020-06-29 16:51] ace commented on #44
There are two main issues in our current installation that makes this process cumbersome:

1. We have child scopes. This means we no longer have a simple integer counter column on initiatives, but a json one, containing the counter for each scope as well as the total votes.
2. We can unvote initiatives. This means we have to take care of unvotes while counting.

Those two issues lead to these prob

[2020-06-30 14:45] ace commented on #42
Can we use memcached/dalli for the session_store? Was it discarded for some reason?

[2020-06-30 14:55] ace commented on #42
We can use memcached/dalli for the session_store and keep session data in memory. Configuration should be quick and easy. It won't fire database queries and will be quicker overall.

[2020-06-30 17:27] ace commented on #43
Current queries on the signature process:

[code]
We need this pre-signature value to determine if we need to send milestone notifications. We have to ensure the milestone is reached with the signature and wasn't reached before. It's not used for the threshold notification to admins, but it should, that notification is not restricted to the signature that reaches 100% but to every signature from t

[2020-07-01 10:29] pixeltrix commented on #44
I'm still reading the above comment but one thing to point out is that UK Petitions does have 'unvote' in that a signature can either be deleted if someone wants to remove their support or can be invalidated if fraud is detected. In both of those scenarios we effectively do the following:

[code]

However these are admin tasks and not carried out by the general public so the rate of these changes

[2020-07-01 11:52] pixeltrix commented on #44
I can see `initiative_votes_count` and `initiative_supports_count` integer columns in the decidim original repo - has this changed in your fork? Even so it's possible to increment jsonb keys in PostgreSQL 9.5 and later as this Stack Overflow post shows:
https://stackoverflow.com/questions/25957937/how-to-increment-value-in-postgres-update-statement-on-json-key

Since unvoting is deleting the recor

[2020-07-01 11:53] ace commented on #44
Thanks, @pixeltrix
In our case the same button used for voting is 'transformed' into the unvote button as the response. So the user can just click again and remove their signature, a second after voting or the next week. In theory it should be a low rate event, but who knows what the users will do.
The problem at that point is that the vote is deleted from the database, so if we don't do (or defer

[2020-07-01 11:58] ace commented on #44
This is the branch we are based on https://github.com/aspgems/decidim/tree/feature/initiatives-signature-gauge

Reading that jsonb columns increment, thanks!

[2020-07-01 12:25] ace commented on #44
My main concern here is that unvoting is done by the users, if we ever have a lot of 'concurrent' unvotes we'll have the same problem we are trying to fix for the votes (thinking on the worst case scenario).

That was the old separation between votes and supports, the scopes I was mentioning are in the new branch I linked above. It has to do with geographic segmentation and involves associated mod

[2020-07-01 17:16] pixeltrix commented on #44
Yes, if you just use a `Time.current` value but if you round the time to a larger increment like this:

[code]

this means that it only changes every five seconds, so the number of writes is vastly reduced when the system is handling a lot of signatures, e.g. 200k per hour is 55 per second, so writing every five seconds reduces the writes by 250 times:

[code]

Note, this is how we used to do thin

[2020-07-01 17:46] ace commented on #44
Thanks @pixeltrix, that timestamp rounding makes it clear.

I've been giving some thought to an alternative idea, using the votes ids as the 'pointer' instead of using timestamps. Let me elaborate.

- We have a column on initiatives for the last 'counted' vote id. It's not used on the vote process, so it doesn't interfere there.
- We can do the unvote process 'on the fly' (hoping we don't have a s

[2020-07-02 17:53] microstudi commented on #3
This feature has been merged in develop in this PR https://github.com/decidim/decidim/pull/6241

[2020-07-03 01:56] virgile-dev commented on #3
Such a great news !

[2022-07-11 10:09] virgile-dev opened #45 "Release 0.24 - 25"
![ezgif com-gif-maker (8)](https://user-images.githubusercontent.com/11473995/178241545-6d28eae9-4ff3-482e-af87-569b1636ac8b.gif)

[2022-07-11 10:11] virgile-dev commented on #45
![ezgif com-gif-maker (6)](https://user-images.githubusercontent.com/11473995/178241913-5cf5fad7-74b0-4826-9b40-9c7dbb7ebc70.gif)

[2022-07-11 10:12] virgile-dev commented on #45
![ezgif com-gif-maker (5)](https://user-images.githubusercontent.com/11473995/178242038-5c49e65a-d01e-4684-809f-9064bab28b49.gif)

[2022-07-11 10:13] virgile-dev commented on #45
![Report and block](https://user-images.githubusercontent.com/11473995/178242141-d19cbd0f-7916-419f-998a-c3ce023fbd7b.gif)

[2022-07-11 10:14] virgile-dev commented on #45
![ezgif com-gif-maker (3)](https://user-images.githubusercontent.com/11473995/178242372-5e218d36-48b4-4553-8699-0fdee73847d4.gif)

[2022-07-11 10:15] virgile-dev commented on #45
![enquete](https://user-images.githubusercontent.com/11473995/178242661-297c181e-5dcb-4e30-8d80-59ff107c1e94.gif)

[2022-07-11 10:16] virgile-dev commented on #45
![Comments](https://user-images.githubusercontent.com/11473995/178242755-971da20e-96fb-42e4-9db4-d6842209d2b3.gif)

[2022-07-11 10:16] virgile-dev commented on #45
![emoji](https://user-images.githubusercontent.com/11473995/178242834-d76b6944-0b19-4ce9-a02b-7a59f629cd70.gif)

[2022-07-11 10:17] virgile-dev commented on #45
![Change of language](https://user-images.githubusercontent.com/11473995/178242949-620a3d79-9976-473d-af1e-8ea2ace790d5.gif)

[2022-07-11 10:17] virgile-dev commented on #45
![ezgif com-gif-maker (4)](https://user-images.githubusercontent.com/11473995/178243040-833b1677-56ae-4b8f-9b67-72306fffc76c.gif)

[2022-07-11 10:18] virgile-dev commented on #45
![Unpublish a meeting](https://user-images.githubusercontent.com/11473995/178243149-ce8a05e0-de8f-495f-999a-978f8fd6f09a.gif)